* {
    margin: 0;
    padding: 0;
}

/* font family link imported here  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;600&family=Work+Sans:wght@700&display=swap');

/* utilities or general styles here  */
body {
    font-family: 'Work Sans', sans-serif;
    background: #FFFFFF;
}

/* what is needed to change in mobile media queries */
/* 1. .header height


/* header styles starts here 1.navigation bar 2.text with h1 3.button 4.big pics  */
.header {
    width: 100%;
    height: 1330px;
    background-color: #FF900E1A;


}

.navbar {
    padding: 50px 240px 102px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.company-name {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    text-align: center;
}

.navbar ul {
    display: flex;
    column-gap: 60px;
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: #424242;

}


/* header writing site   */
.header-text {
    margin: auto;
}

.header-heading {
    color: #131313;
    font-weight: 700;
    font-size: 64px;
    padding-top: 100px;
    padding-bottom: 24px;
    width: 862px;
    margin: auto;
    text-align: center;
}

.header-paragraph {
    width: 868px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;

}

.button-explore {

    padding-bottom: 20px;
    text-align: center;
}

.btn-explore {
    font-size: 18px;
    background: #FF900E;
    padding: 10px 24px;
    border-radius: 8px;
    color: white;
    border: 3px solid #FF900E;
    text-align: center;


}

.banner {
    text-align: center;
}

.banner img {
    margin: auto;


}


/* section one with some images and text */
.section-one {
    width: 100%;
    height: 750px;
    padding-top: 84px;
    padding-bottom: 84px;
    /* margin-left: 200px;
    margin-right: 200px; */
    /* margin: auto; */
    display: flex;
    gap: 30px;
    /* align-items: center; */
    justify-content: space-evenly;

}

.images-for-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.feature-and-button {
    margin-top: 170px;
    margin-left: 30px;
}

.feature-heading {
    font-size: 45px;
}

#quick {
    font-weight: 500;
    color: #727272;
}

#of-our {
    font-weight: 700;
    color: #131313;
}

#features {
    color: #FF900E;
    font-weight: 700;
}

.section-one-para {
    color: #727272;
    margin-top: 24px;
    margin-bottom: 32px;
}

.btn-explore-more {
    font-size: 18px;
    background: #FF900E;
    padding: 10px 24px;
    border-radius: 8px;
    color: white;
    border: 3px solid #FF900E;
}



/* section two with features description and a girl image */
.section-two {
    margin-top: 60px;
    width: 100%;
    height: 650px;
    display: flex;
    gap: 54px;
    justify-content: space-evenly;
    margin: auto;
}

.text-of-section-two {
    width: 575px;
}

.section-two-heading {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    width: 486px;
    height: 105px;
    padding-top: 10px;
    padding-bottom: 23px;
}

.section-two-para {
    color: #727272;
    width: 575px;
    padding-bottom: 30px;

}

.for-flex-sec-two {
    width: 575px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;

}

.feature-box {
    width: 514px;
    height: 110px;
    padding: 29px 30px;
    border: 1px solid white;
    border-radius: 7px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
}

.inner-heading {
    font-weight: 600;
    font-size: 20px;
    color: #131313;

}

.inner-para {
    width: 514px;
    color: #727272;

}

.for-girl {
    width: 800px;
    height: 1058px;
    border: 4px solid rgb(255, 255, 255);
    position: relative;
}

.for-girl img {
    width: 575px;
    position: absolute;
    top: 0;
    right: 0;
}

.btn-ex {
    position: absolute;
    bottom: 0;
    left: 0;
    float: right;
    font-size: 25px;
    font-size: 18px;
    background: #FF900E;
    padding: 10px 24px;
    border-radius: 8px;
    color: white;
    border: 3px solid #FF900E;
    text-align: center;
}

.biggie {
    font-size: 60px;
}


/* section three */
.section-three {
    border: 40px solid white;
    margin-top: 600px;
    margin-bottom: 200px;
    width: 100%;
    height: 250px;
    padding-left: 220px;
}

.heading-secthree {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    padding-top: 20px;
    padding-bottom: 30px;

}

.section-three-para {
    font-weight: 400;
    font-size: 16px;
}

/* section  four styles here  */
.section-four {
    width: 100%;
    height: 260px;
    margin: auto;
    margin-right: 300px;
    margin-left: 300px;
    justify-content: center;
}
.all-success {
    display: flex;
    gap: 130px;
  
}
.border-success {
    height: 241px;
    width: 241px;
    border: 1px solid #FF900E;
    border-radius: 7px;
}
.border-success:hover{
    transform: rotatez(30deg);
}
.inner-success {
    width: 169px;
    height: 136px;
    padding: 50px;
    margin: auto;
}

.inner-success:hover{
    color: rgb(213, 0, 0);
}
.inner-success img {
    margin: 0 45px;
}
.inner-success img:hover{
    transform: rotate(-46deg);
}
.inner-success .number {
    font-size: 30px;
    margin: 10px 50px 5px;
}
.inner-success .inner-para {
    font-size: 20px;
}





/* section five sponsors section  */
.section-five{
    width: 500px;
    height: 130px;
    margin-top: 100px;
    justify-content: ;
}
.sponspors{

}
.sponspors-heading{

}
.sponspors-para{

}










/* media queries here  */
@media only screen and (max-width: 578px) {

    /* for header  */
    .header {
        width: 100%;
        height: auto;
        justify-items: center;
        padding: 0;
        margin: 0;
        background-color: #e0cc15d0;
    }

    .navbar {
        padding: 0;
        margin: 0;
        width: 570px;
        padding-top: 6px;
        flex-direction: column;
        align-content: space-around;
        align-items: center;
        text-align: center;
        justify-content: center;

    }

    .company-name {
        font-weight: 600;
        font-size: 25px;
        color: #131313;
        text-align: start;

    }

    .navbar ul {
        margin-top: 10px;
        flex-direction: row;
        column-gap: 10px;
    }

    .navbar ul li {
        margin: 0;
        padding: 0;

    }

    .header-text {
        width: 460px;
    }

    .header-heading {

        font-size: 34px;
        padding-top: 100px;
        padding-bottom: 24px;
        width: 444px;
        text-align: center;
    }

    .header-paragraph {
        width: 400px;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        margin-bottom: 20px;

    }

    .banner img {
        width: 400px;
    }


    /* all section one media queries  */
    .section-one {
        flex-direction: column;
        padding-top: 20px;

        padding: 0px;
        height: auto;
    }

    .images-for-grid {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        ;
        padding: 0px;
        justify-items: center;
    }

    .images-for-grid img {
        display: grid;
    }

    .feature-and-button {
        margin-top: 10px;
        margin-left: 0px;
        text-align: center;
    }



    /* section two starts here  */








    .section-two,
    .section-three {
        display: none;
    }
}